:root {
  --putih: #fdfff5;
  --hitam: #010101;
  --merah: #d30000;
  --cream: #c7a07a;
  --grey: #262626;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--grey);
  color: #ffff;
  font-family: "Poppins", sans-serif;
} /*navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 3, 0.5);
  border-bottom: 1px solid #abacab;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffff;
  font-style: inherit;
}
.navbar .navbar-logo span {
  color: var(--merah);
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.5rem;
  color: var(--putih);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--putih);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* hero section */
.video-background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #000000;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100);
  opacity: 0.6;
  object-fit: cover;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content h1 span {
  color: var(--merah);
}
.hero .content p {
  font-size: 1.8rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  margin-top: 1.6rem;
}
.btn:hover {
  color: #000000;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.btn:hover::before {
  transform: translateX(0);
}
/* Tentang Kami */

.about {
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}

.about h1,
.contact h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.contact {
  margin-top: 10vh;
}
.about h1 span,
.contact h1 span {
  color: var(--merah);
}

.card {
  background-color: var(--merah);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.map-side {
  flex: 1;
}

.map-side iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.text-side {
  flex: 1;
}

.text-side p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.text-side p span {
  font-weight: bold;
  color: var(--krem);
  font-size: 1.3rem;
}

/* footer section */
.footer {
  background-color: var(--cream);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

.footer .socials {
  padding: 1rem 0;
}
.footer .socials a {
  color: #fff;
  margin: 1rem;
}

.footer .links p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  padding: 0.7rem 1rem;
}
.footer .links {
  margin: 0;
  margin-bottom: 1.4rem;
  padding: 0.3rem 0.5rem;
}

.footer .credit {
  font-size: 0.8rem;
}

.footer .credit a {
  color: var(--hitam);
  font-style: bold;
  font-weight: 700;
}
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
